// reset tag html
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
// init
$fontSIze : 16px;


// container
.container {
    max-width: 380px;
    max-height: 640px;
    margin: auto;
    background-color: #0095da;
    padding: 15px;
    position: relative;
}

// header
.navTop {
    display: flex;
    justify-content: space-between;
    position: relative;
    .nav-brand {
        a {
            font-size: $fontSIze;
            text-decoration: none;
            color: white;
        }
    }
    .nav-toggle {
        i {
            font-size: $fontSIze;
            color: white;
        }
    }
}
.search {
    width: 100%;
    height: 38px;
    position: relative;
    background-color: #0095da;
    margin-top: 10px;
    .wrapper_search{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 2px 0;
        border-radius: 10px;
        .input-search{
            width: 100%;
            background: none;
            box-shadow: none;
            border: none;
            text-shadow: none;
            padding: 5px 8px;
            &:focus{
                border: none;
                background: none;
                outline: none;
            }
        }
        .btn-search {
            width: 40px;
            height: 32px;
            background: none;
            border: none;
            background-color: #0095da;
            margin-right: 8px;
            padding: 8px;
            border-radius: 8px;
            outline:none;
            cursor: pointer;
            i {
                color: white;
            }
        }
    }
}

// maincontent
.wrapper_slider_promotion {
    width: 100%;
    height: 160px;
    margin: 20px auto;
    border-radius: 8px;
}
.splide__slide img {
	width : 100%;
    height: 160px;
    border-radius: 8px;
}
.wrapper_favorite_content {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 50px 0;
    .favorite_items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 46px;
        width: 100px;
        margin: 5px;
        div {
            margin: 2px 0;
        }
        .favorite_text{
            font-size: 12px;
            text-align: center;
        }
    }
}
// footer
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    .wrapper_footer {
        display: flex;
        justify-content: space-between;
        .footer_items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
            .footer_icon{
                i {
                    color: black;
                }
            }
            .footer_text{
                font-size: $fontSIze;
            }
            &:active{
                color: #66cfff;
            }
        }
    }
}