* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 380px;
  max-height: auto;
  margin: auto;
  background-color: #0095da;
  padding: 15px;
  position: relative;
}

.navTop {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navTop .nav-brand a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.navTop .nav-toggle i {
  font-size: 16px;
  color: white;
}

.search {
  width: 100%;
  height: 38px;
  position: relative;
  background-color: #0095da;
  margin-top: 10px;
}

.search .wrapper_search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2px 0;
  border-radius: 10px;
}

.search .wrapper_search .input-search {
  width: 100%;
  background: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 5px 8px;
}

.search .wrapper_search .input-search:focus {
  border: none;
  background: none;
  outline: none;
}

.search .wrapper_search .btn-search {
  width: 40px;
  height: 32px;
  background: none;
  border: none;
  background-color: #0095da;
  margin-right: 8px;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.search .wrapper_search .btn-search i {
  color: white;
}

.wrapper_slider_promotion {
  width: 100%;
  height: 160px;
  margin: 20px auto;
  border-radius: 8px;
}

.splide__slide img {
  width: 100%;
  height: 160px;
  border-radius: 8px;
}

.wrapper_favorite_content {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-radius: 10px;
  margin: 30px 0;
}

.wrapper_favorite_content .favorite_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46px;
  margin: 5px;
}

.wrapper_favorite_content .favorite_items div {
  margin: 2px 0;
}

.wrapper_favorite_content .favorite_items .favorite_text {
  font-size: 12px;
  text-align: center;
}

.wrapper_list_product {
  width: 100%;
  margin: 50px 0;
}

.wrapper_list_product section {
  width: 100%;
  margin: 10px 0;
}

.wrapper_list_product section.recomended_product {
  background-color: white;
  border-radius: 8px;
  padding: 10px 5px;
  position: sticky;
  overflow-x: auto;
  box-shadow: 0 0 24px -4px rgba(0, 0, 0, 0.12);
  scrollbar-color: #d6d6d6 transparent;
  scrollbar-width: thin;
  box-sizing: border-box;
}

.wrapper_list_product section.recomended_product::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

.wrapper_list_product section.recomended_product::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #d6d6d6;
}

.wrapper_list_product section.recomended_product::-webkit-scrollbar {
  height: 6px;
  width: 3px;
  background-color: transparent;
}

.wrapper_list_product section.recomended_product ul {
  display: flex;
}

.wrapper_list_product section.recomended_product ul li {
  display: inline;
  list-style: none;
  color: rgba(0, 0, 0, 0.38);
  border-radius: 16px;
  padding: 4px 8px;
  background: #f1f1f1;
  white-space: nowrap;
  margin-right: 10px;
  transition: all 3s ease-in-out;
  cursor: pointer;
}

.wrapper_list_product section.list_product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper_list_product section.list_product .item_products {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 24px -4px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper_list_product section.list_product .item_products .image_product img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.wrapper_list_product section.list_product .item_products .price_product {
  color: #f37021;
  font-weight: 700;
}

.wrapper_list_product section.list_product div {
  margin: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

footer .wrapper_footer {
  display: flex;
  justify-content: space-between;
}

footer .wrapper_footer .footer_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  box-sizing: border-box;
}

footer .wrapper_footer .footer_items .footer_icon i {
  color: black;
}

footer .wrapper_footer .footer_items .footer_icon i.active {
  color: #66cfff;
}

footer .wrapper_footer .footer_items .footer_text {
  font-size: 16px;
}

footer .wrapper_footer .footer_items .footer_text.active {
  color: #66cfff;
}

@media only screen and (max-width: 320px) {
  .list_product .item_products .image_product {
    width: 129px;
    height: 129px;
  }
  .wrapper_favorite_content .favorite_items {
    width: 50px;
    padding: 15px;
  }
}

@media only screen and (min-width: 380px) {
  .list_product .item_products .image_product {
    width: 170px;
    height: 170px;
  }
  .wrapper_favorite_content .favorite_items {
    width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */